@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

:root {
  --green: #54e6af;
  --light-green: #b3ffe2;
  --grayish-blue: #2c344b;
  --dark-blue: #121725;
  --white: #ffffff;
  --light-grayish-blue: #5a668a;
  --light-gray: #c2cbe5;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  box-sizing: border-box;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  /* display: block; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  font-family: "Chivo", sans-serif;
  background-color: var(--dark-blue);
  text-align: center;
  overflow-x: hidden;
}
main {
  display: flex;
  align-items: center;
  margin-left: 10.3125rem;
}
.info-section {
  max-width: 45.1875rem;
  max-height: 31.8125rem;
  text-align: left;
  background-color: var(--dark-blue);
  position: absolute;
  padding-top: 5.5rem;
  padding-right: 3.625rem;
  margin-top: 8.1875rem;
  z-index: 1;
}
.img-section {
  margin: 8.125rem 0;
  position: relative;
  left: 24.1875rem;
}
.logo {
  position: absolute;
  margin-top: 6.375rem;
  top: 0;
}
.bg-pattern-dots {
  position: absolute;
  bottom: -51px;
  left: 656px;
  z-index: 1;
}
h1 {
  color: var(--green);
  font-size: 3.25rem;
  font-weight: 400;
  line-height: 3.875rem;
  text-transform: uppercase;
  width: 41.5625rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}
h1 span {
  color: var(--white);
}
.info-content p {
  color: var(--light-gray);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.75rem;
  max-width: 27.8125rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
#emailForm {
  height: 3.5rem;
  margin-bottom: 4rem;
}
#emailInput::placeholder {
  color: var(--white);
}
#emailInput {
  width: 26.6875rem;
  height: 3.5rem;
  border-radius: 1.75rem;
  background: var(--grayish-blue);
  border-style: none;
  color: var(--white);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.75rem;
  opacity: 0.5;
  padding-left: 2rem;
}
#notify-btn {
  width: 10.125rem;
  height: 2.875rem;
  border-radius: 1.75rem;
  background: var(--green);
  box-shadow: 0 0.125rem 0.25rem 0 rgba(84, 230, 175, 0.14);
  color: var(--dark-blue);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.75rem;
  border-style: none;
  cursor: pointer;
  position: relative;
  right: 172px;
  margin-bottom: 0;
}
#notify-btn:hover {
  background: var(--light-green);
}
#notify-btn:active {
  transform: translate(-1%, 1px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
#errorMessage {
  display: none;
  color: #fb3e3e;
  font-size: 0.75rem;
  font-weight: 400;
  margin-bottom: 0;
  padding-left: 2rem;
}
.logos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  margin-bottom: 8.125rem;
}

@media screen and (max-width: 48rem) {
  .bg-pattern-dots {
    left: -62%;
    bottom: -258px;
  }
  .img-section {
    margin-top: 0;
  }
  main {
    margin-left: 2.4375rem;
  }
  .info-section {
    max-width: 39.6875rem;
    padding-top: 5.8125rem;
    padding-right: 0;
    margin-top: 0;
  }
  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    max-width: 39.6875rem;
    margin-bottom: 1.9375rem;
    margin-top: 0;
  }
  .img-section {
    margin-top: 0;
    margin-bottom: 16.0625rem;
  }
  .logo {
    margin-top: 3.125rem;
  }
  .bg-pattern-dots {
    position: absolute;
    left: -384px;
    bottom: -255px;
  }
  .logos {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 37.5rem) {
  body {
    background-image: url("assets/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: normal;
    backdrop-filter: brightness(0.4);
    background-blend-mode: exclusion;
    display: flex;
  }
  main {
    display: block;
    margin-left: 0;
  }
  .tablet-picture {
    display: none;
  }
  .form-logo-container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 4.5625rem;
    height: auto;
  }
  #emailForm {
    height: auto;
    margin-bottom: auto;
  }
  .bg-pattern-dots {
    display: none;
  }
  .img-section {
    display: none;
  }
  .info-section {
    margin-left: 0;
    text-align: center;
    background: none;
    width: auto;
    height: auto;
    position: unset;
    margin-bottom: auto;
    padding-top: 0;
  }
  .logo {
    position: relative;
    margin: 3.875rem 0 3.5625rem auto;
  }
  h1 {
    font-size: 1.625rem;
    line-height: 2.375rem;
    width: 20.4375rem;
    margin: 0 auto 1rem;
    padding-top: 0;
  }
  .info-content p {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    width: 20.4375rem;
    margin: 0 auto 2.0625rem;
  }
  #emailInput {
    width: 20.4375rem;
    height: 2.875rem;
    margin-bottom: 1rem;
  }
  #notify-btn {
    width: 20.375rem;
    height: 2.875rem;
    position: inherit;
    margin-bottom: 0;
  }
  .logos {
    width: 19.6875rem;
    justify-content: center;
    gap: 1.4375rem;
    margin: 0 auto 3rem;
  }
  .spotify {
    width: 3.5rem;
  }
  .apple {
    width: 2.8125rem;
  }
  .google {
    width: 4.5625rem;
  }
  .pocket {
    width: 4.8125rem;
  }
  #errorMessage {
    padding-left: 0;
    padding-right: 6.5625rem;
    position: relative;
    bottom: 67px;
  }
}
